<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Detalhes">
  <ion-content class="padding">

    
    <div class="list card">

    <div class="item item-avatar">
      <img ng-src="{{ empresa.logo }}">
      <h2>{{ empresa.nome }}</h2>
      <p>{{ empresa.ramo }}</p>
    </div>

    <a href="tel:{{ empresa.telefone }}" class="item item-icon-left">
      <i class="icon ion-ios7-telephone"></i>
      {{ empresa.telefone }}
    </a>

    <a href="mailto:{{ empresa.email }}" class="item item-icon-left">
      <i class="icon ion-at"></i>
      {{ empresa.email }}
    </a>

    <a href="#/tab/empresas/{{ empresa.id }}/vagas-emprego" class="item item-icon-left" ng-show="empresa.vagas.length > 0">
      <i class="icon ion-briefcase"></i>
      Vagas de emprego
    </a>

    <a href="#" class="item item-icon-left" ng-show="empresa.vagas.length == 0">
      <i class="icon ion-close-circled"></i>
      Nenhuma vaga de emprego
    </a>

    <a href="#" class="item item-icon-left" data-tap-disabled="true" id="map-parent">
      <i class="icon ion-home"></i>
      {{ empresa.endereco }}
    </a>

    <a href="#" class="item item-icon-left">
      <div id="map" data-tap-disabled="true"></div>
    </a>

  </div>
  </ion-content>
</ion-view>
