<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="Vagas">
  <ion-content class="padding">
    <div class="card" ng-repeat="vaga in vagas">
      <div class="item item-divider">
        {{ vaga.nome }}
      </div>
      <div class="item item-text-wrap">
        {{ vaga.descricao }}
      </div>
    </div>
  </ion-content>
</ion-view>
