<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="Notícia">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar">
        <img ng-src="{{ noticia.logo }}">
        <h2>{{ noticia.titulo }}</h2>
        <p>publicado em {{ formatar_data(noticia.data) }}</p>
      </div>

      <div class="item item-body" ng-bind-html="noticia.descricao">
      </div>
    </div>
  </ion-content>
</ion-view>
