<ion-view view-title="Empresas">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="empresa in empresas" type="item-text-wrap" href="#/tab/empresas/{{empresa.id}}">
        <img ng-src="{{empresa.logo}}">
        <h2>{{empresa.nome}}</h2>
        <p>{{ empresa.cidade }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
