<ion-view view-title="Moedas">
  <ion-content class="padding" id="moedas-div">
      <div class="card">
        <div class="item item-text-wrap">
          <h2 id="data_dados">Dados do Banco Central do Brasil, em {{ data_dados }}</h2>
          <img style="display:none;" ng-src="img/carregando.gif" id="data_dados_atualizando"/>
        </div>
      </div>
        <h2>Favoritos</h2>
        <table>
          <thead>
            <tr>
              <th>Moeda</th>
              <th>Taxa Compra</th>
              <th>Taxa Venda</th>
              <th>Remover</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="moeda in listaFavoritos">
              <td>{{ moeda.moeda }}</td>
              <td>{{ moeda.taxa_compra }}</td>
              <td>{{ moeda.taxa_venda }}</td>
              <td><img src="img/fav.png" ng-click="delFav(moeda.codigo)"></img></td>
            </tr>
          </tbody>
        </table>

        <h2>Todas as Moedas</h2>
        <table>
          <thead>
            <tr>
              <th>Moeda</th>
              <th>Taxa Compra</th>
              <th>Taxa Venda</th>
              <th>Favorito</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="moeda in moedas">
              <td>{{ moeda.moeda }}</td>
              <td>{{ moeda.taxa_compra }}</td>
              <td>{{ moeda.taxa_venda }}</td>
              <td>
                <img ng-show="isFav(moeda.codigo)" ng-click="delFav(moeda.codigo)" src="img/fav.png" ng-click="delFav(moeda.codigo)"></img>
                <img ng-show="isNotFav(moeda.codigo)" src="img/no-fav.png" ng-click="addFav(moeda.codigo)"></img>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </ion-content>
</ion-view>
