<ion-view view-title="Account">
  <ion-content>
    <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        Localização
      </div>
      <select>
        <option>Caxias do Sul</option>
      </select>
    </label>

  </div>
  </ion-content>
</ion-view>
