<ion-view view-title="Notícias">
  <ion-content class="padding">
    <ion-refresher pulling-text="Puxe para Atualizar" on-refresh="atualizar()"></ion-refresher>
    <div class="card">
        <div class="item item-text-wrap">
          <h2 id="data_dados">Última atualização em {{ data_dados }}.</h2>
          <img style="display:none;" ng-src="img/carregando.gif" id="data_dados_atualizando"/>
        </div>
      </div>
    <div class="list card" ng-repeat="noticia in noticias">
      <div class="item item-avatar">
        <img ng-src="{{ noticia.logo }}">
        <h2 style="white-space:normal;">{{ noticia.titulo }}</h2>
        <p>{{ noticia.fonte }} - publicado em {{ noticia.data_publicacao }}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/tab/noticias/{{noticia.id}}">
          <i class="icon ion-arrow-right-b"></i>
          Ver Notícia
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
