<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="Moedas" icon-off="ion-ios7-star" icon-on="ion-ios7-star" href="#/tab/moedas">
    <ion-nav-view name="tab-moedas"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Notícias" icon-off="ion-document-text" icon-on="ion-document-text" href="#/tab/noticias">
    <ion-nav-view name="tab-noticias"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Empresas" icon-off="ion-briefcase" icon-on="ion-briefcase" href="#/tab/empresas">
    <ion-nav-view name="tab-empresas"></ion-nav-view>
  </ion-tab>

</ion-tabs>
