/* Empty. Add your own CSS if you like */
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-container.wrap > div{
    width: 33%;
    max-width: 33%;
    text-overflow: '';
    white-space:nowrap;
    overflow: hidden;
    text-align: center;
}

#map {
    width: 100%;
    height: 100%;
}

#moedas-div table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
#moedas-div table>tbody>tr:nth-child(odd)>td {
  background-color: #f9f9f9;
}
#moedas-div table td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}